.button-container {
    display: flex;
    gap: 20px;
    padding-left: 1%;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    color: #6A0DAD;
    background-color: #fff;
    border: 2px solid #6A0DAD;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
    background-color: #6A0DAD;
    color: #fff;
}